.home {
    background: var(--secondary-bg-color);
}
.home h1 {
    color: var(--secondary-font-color);
    margin: 0;
    padding-top: 3rem;
    padding-bottom: 2rem;
}
.task-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.task-card {
    width: 350px;
    background: #fff;
    margin: 1rem;
    border: 1px solid #cea985;
    box-shadow: 5px 3px 11px 1px #abaaaa;
    border-radius: 11px;
}
.task-card h3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: var(--primary-bg-color);
    margin: 0;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.task-card img {
    height:200px;
    width: 90%;
    margin-bottom: 1rem;
}
.submits {
    padding-bottom: 1rem;
    padding-top: 1rem;
    background: #ffc285;
    color: #715337;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.description button {
    border: 1px solid #cea985;
    width: 100%;
    padding: .5rem;
    color: #fff;
    background: #9E9E9E;
    cursor: pointer;
    outline: none;
}